@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
}

img {
    border-radius: 10px;
    height: 250px;
    max-width: 250px;
}

body {
    background: rgb(29, 29, 29);
}

h1 {
    font-family: 'Secular One';
    color: white;
}

h2 {
    font-family: 'Secular One';
    color: white;
}

p {
    font-family: 'Secular One';
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::selection {
    background: rgb(0, 123, 255, 0.3);
}

.content {
    max-width: 1250px;
    margin: auto;
    font-family: 'Secular One';
    padding: 0 30px;
}

.navbar {
    position: absolute;
    overflow: hidden;
    background: rgb(29, 29, 29);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: fixed;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
    z-index: 10000;
}

.navbar.sticky {
    background: #1b1b1b;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #007bff;
}

.banner {
    background: black;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.about {
    padding: 30px 0;
}

.about .title {
    font-size: 38px;
    font-weight: 700;
}

.about p {
    padding-top: 20px;
    text-align: justify;
}

.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

.game {
    position: relative;
    top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 20px;
    background: rgb(29, 29, 29);
}

.game p {
    color: white;
}

.jeu {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 20px;
    background: rgb(49, 49, 49);
}

.bloc1 {
    display: flex;
}


.bloc2 h1 {
    padding-left: 20px;
}

.bloc2 h2 {
    padding-left: 22px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.bloc2 p {
    padding-left: 22px;
    font-size: 1em;;
    max-width: 800px;
}

.bloc2 {
    display: block;
}

.buy {
    max-width: 150px;
    background: rgb(9, 163, 9);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.buy a {
    text-decoration: none;
    color: white;
    font-family: 'Secular One';
    font-size: 1.5em;
}

footer {
    margin-top: 100px;
    height: 100px;
    width: 100%;
}


/***********************************************/

@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }
}

@media (max-width: 900px) {
    body.disabled {
        overflow: hidden;
    }

    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.3s ease;
    }

    .navbar.show .menu-list {
        left: 0%;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
}

@media (max-width: 380px) {
    .navbar .logo a {
        font-size: 27px;
    }
}

/*-----------------------------------------*/


@media screen and (max-width: 865px) {
    .bloc1 {
        display: block;
        text-align: center;
    }

    img {
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        height: 150px;
        max-width: 150px;
        min-width: 150px;
    }

    .bloc2 {
        text-align: center;
    }

    .buy {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .game {
        margin-left: 20px;
        margin-right: 20px;
    }

    .jeu {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 458px) {
    .bloc2 h1 {
        font-size: 1.5em;
        padding-left: 0px;
    }

    .bloc2 h2 {
        font-size: 1em;
        padding-left: 0px;
    }

    .bloc2 p {
        font-size: 0.8em;
        padding-left: 0px;
    }
}